<div class="actions">
	<%= link_to "Back to all clients", clients_path %>
</div>
<%= form_for (@client) do |f| %>
	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<%= f.submit "add client" %>
<% end %>	